
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Nedir Baboo Blog?</h1>
                    <span class="subheading">
                        Her fikir icin BABOO.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                En iyi fikirler kim olduğumuzu değiştirebilir. Medium, bu fikirlerin şekillendiği, ortaya çıktığı ve güçlü sohbetler başlattığı yerdir. 15 okuyucunun anlayışlı ve dinamik düşünceyi bulmaya geldiği açık bir platformuz. Burada, uzman ve keşfedilmemiş sesler, herhangi bir konunun kalbine dalar ve yeni fikirleri yüzeye çıkarır. Amacımız bu fikirleri yaymak ve dünya anlayışını derinleştirmek.

                Dijital yayıncılık için yeni bir model oluşturuyoruz. Nüansı, karmaşıklığı ve hayati öneme sahip hikaye anlatımını, reklamcılık teşviklerinden vazgeçmeden destekleyen bir program. Herkese açık ama özü ve özgünlüğü destekleyen bir ortam. Okurlar ve yazarlar arasında kurulan daha derin bağlantıların keşif ve büyümeye yol açabileceği yer burasıdır. Milyonlarca ortak çalışanla birlikte, önemli fikirlerden ve onlar hakkında düşünen insanlardan beslenen güvenilir ve canlı bir ekosistem oluşturuyoruz.
            </p>
            <p>
                Meraklı beyinlerden oluşan canlı bir ağ.
                Medium'a herkes yazabilir. Düşünce liderleri, gazeteciler, uzmanlar ve benzersiz bakış açılarına sahip kişiler burada düşüncelerini paylaşırlar. Dünyanın dört bir yanından bağımsız yazarların eserlerini, öne çıkardığımız hikayeleri ve önde gelen yazarları ve kendi blog ve yayın paketimize dair akıllıca yorumları bulacaksınız.
            </p>
            <p>Okuyun, yazın ve dünyanızı genişletin.</p>
        </div>
    </div>
</div>
<hr />