
@{
    ViewData["Title"] = "Activation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hesabınız Aktive edilmiştir.</h1>
<h1>Anasayfaya dönüp giriş yapınız.</h1>
<a asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>


